<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ job.title }}</mat-card-title>
      <button *ngIf="alreadyApplied" mat-raised-button>applied</button>
      <button *ngIf="!alreadyApplied" mat-raised-button (click)="apply()">
        Apply
      </button>
    </mat-card-header>
    <mat-card-content>
      <div class="panel-content-container">
        <div class="title">Date & Time :</div>
        <div class="content">
          {{ job.startDate | date }} to {{ job.endDate | date
          }}<mat-divider [vertical]="true"></mat-divider
          ><span><mat-icon>location_on</mat-icon> {{ job.location.city }}</span>
        </div>
      </div>

      <mat-divider></mat-divider>
      <div class="job-roles-container">
        <div class="title">Job Roles :</div>
        <div class="job-roles">
          <span *ngFor="let jobrole of job.jobRoles" class="job-role"
            ><mat-icon>business_center</mat-icon>{{ jobrole.name }}</span
          >
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-accordion>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header class="expand-panel">
        <mat-panel-title>Pre-requisites & Application Process</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-content-container">
        <div class="title">General Instructions :</div>
        <div class="content">
          <span>{{ job.generalInstructions }}</span>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="panel-content-container">
        <div class="title">Minimum System Requirements :</div>
        <div class="content">
          <span>{{ job.minimumRequirements }}</span>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="panel-content-container">
        <div class="title">Application Process :</div>
        <div class="content">
          <span>{{ job.process }}</span>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-card class="time-slot-preference-card">
    <mat-card-header>
      <mat-card-title>Time Slots & Preferences</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="title">Select a Time Slot :</div>
      <div class="content">
        <mat-radio-group
          class="time-slot-radio-group"
          [(ngModel)]="selectedTimeSlotId"
          [disabled]="alreadyApplied"
        >
          <mat-radio-button
            *ngFor="let timeSlot of job.timeSlots"
            [value]="timeSlot.id"
            >{{ timeSlot.startTime | date : "shortTime" }} to
            {{ timeSlot.endTime | date : "shortTime" }}</mat-radio-button
          >
        </mat-radio-group>
      </div>
      <mat-divider></mat-divider>

      <div class="title">Select Your Preference :</div>
      <ul class="example-list-section">
        <li *ngFor="let jobrole of job.jobRoles">
          <mat-checkbox
            [value]="jobrole.name"
            (change)="onJobRoleSelectionChange($event, jobrole.id)"
            [disabled]="alreadyApplied"
          >
            {{ jobrole.name }}
          </mat-checkbox>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
  <div class="job-role-description">
    <mat-accordion *ngFor="let jobrole of job.jobRoles">
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header class="expand-panel">
          <mat-panel-title> {{ jobrole.name }}</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="panel-content-container">
          <div class="title">gross compensation package :</div>
          <div class="content">
            <span>{{ jobrole.salary }}</span>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="panel-content-container">
          <div class="title">Role Description :</div>
          <div class="content">
            <span>{{ jobrole.description }}</span>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="panel-content-container">
          <div class="title">Requirements :</div>
          <div class="content">
            <span>{{ jobrole.requirements }}</span>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
